<div class="main post">
	<h3>Step 1 of 2</h3>
	<h1>Guidelines &amp; Requirements</h1>
	<p>
		Magnetic.IO is not a freelance market. If you haven't done so already, it is strongly recommended that you read the <a href="/about" target="_blank">about</a> section and understand what kind of a community we are trying to build here.
	</p>
	<p>Please note that in order to ensure the quality of the community, we review and curate the projects. For each new project, make sure it meets the following standards:</p>
	<p>
		<ol>
			<li>You are creating a project with a clearly defined goal and know what kind of skills you are looking for.</li>
			<li>The project can be small, casual and playful, but in all cases it should be creative in some way.</li>
			<li>You are going to make substantial contributions to the project yourself. You are looking for collaborators, not contractors to execute your idea.</li>
			<li>You are planning to give your collaborators something in return, either financially or by helping them out in the future.</li>
		</ol>
	</p>
	<p style="margin-top: 20px; float: right;"><a class="btn" href="/post/info">I have read and understand the guidelines. »</a></p>
	<div style="clear:both"></div>
</div>