<div class="hero-unit">
	<img id="logo" src="/img/logo.png">
	<h1>Find, Connect, Create.</h1>
	<p>Magnetic.IO is a platform that helps you find the right collaborators for your next creative project.</p>
</div>
<div style="border-top: 1px solid rgba(255,255,255,.75);"></div>
<div id="index-features" class="row">
	<div class="span5">
		<p class="img"></p>
		<h2>Find Collaborators</h2>
		<p>Post a project to find collaborators, get recommendations, and document your progress.
			Got great ideas but can't do it alone? Time to collaborate and make it happen.</p>
		<p><a class="btn" href="/post">Post Your Project »</a></p>
	</div>
	<div class="span5">
		<p class="img" style="background-position: 0 -100px;"></p>
		<h2>Put Skills To Use</h2>
		<p>Join a project and make that great idea happen with your pro skills.
			Make something you are proud of, gain experience and expand your connections.</p>
		<p><a class="btn" href="/explore">Explore Projects »</a></p>
	</div>
	<div class="span5">
		<p class="img" style="background-position: 0 -200px;"></p>
		<h2>Simply Tag It</h2>
		<p>Tag yourself with the skills you are most proud of, so others can find you easily.
			You can also tag the projects posted by you so others know what you are looking for.</p>
		<p><a class="btn" href="/about">See How It Works »</a></p>
	</div>
</div>