<div id="login-box">
	{{#error}}
		<div class="alert-message error">
			<p><strong>Error:</strong> User not found or wrong password.</p>
		</div>
	{{/error}}
	{{#postRedirect}}
		<div class="alert-message info">
			<p>Please log in or sign up first.</p>
		</div>
	{{/postRedirect}}
	<form method="post">
		<p><input class="span5" type="text" name="email" placeholder="email"/></p>
		<p><input class="span5" type="password" name="password" placeholder="password"></p>
		<p style="margin: 0 0 5px;"><label style="float: none;"><input type="checkbox" name="remember"/> Remember Me</label></p>
		<p><input class="btn" type="submit" value="Login »"/> <span style="margin: 0 10px">or</span> <a href="/signup">Sign Up</a></p>
		<p style="margin:0;"><a style="font-size: 11px; color: #999;" href="/recovery">Forgot Password</a></p>
		{{#postRedirect}}
			<input type="hidden" name="postRedirect" value="on"/>
		{{/postRedirect}}
	</form>
</div>