<li class="row">
	<div class="span3">
		<img src="/img/placeholder.png"/>
	</div>
	<div class="span13">
		<h5><a href="/project/{{uri}}">{{title}}</a></h5>
		<p>{{oneliner}}</p>
		<ul class="project-tags">
			{{#tags}}
				<li>{{.}}</li>
			{{/tags}}
		</ul>
	</div>
</li>