<div id="signup" class="main span6" style="margin: 0px auto;">
	<h1>Sign Up</h1>
	<div style="margin-bottom: 30px" class="divider"></div>
	<form method="post" class="form-stacked">
		<div class="clearfix">
			<label>Username</label>
			<div class="input">
				<input class="span3" type="text" id="username" name="username"/>
			</div>
			<p class="caption">http://magnetic.io/profile/<span id="url" style="font-weight: bold;">your-username</span></p>
		</div>
		<div class="clearfix">
			<label>Email</label>
			<div class="input"><input class="span6" type="text" name="email"/></div>
		</div>
		<div class="clearfix">
			<label>Password</label>
			<div class="input">
				<input class="span3" type="password" name="password" style="margin-right: 15px;"/>
				<input class="span3" type="password" name="password_confirm" placeholder="Confirm"/>
			</div>
		</div>
		<div class="divider" style="margin: 30px 0 10px;"></div>
		<div class="clearfix">
			<label>Name</label>
			<div class="input">
				<input class="span3" type="text" name="firstname" placeholder="First" style="margin-right: 15px;"/>
				<input class="span3" type="text" name="lastname" placeholder="Last"/>
			</div>
			<p class="caption">You'll want to know your collaborator's name, don't you?</p>
		</div>
		<div class="clearfix">
			<label>Location</label>
			<div class="input"><input class="span6" type="text" name="location"/></div>
			<p class="caption">So that you can find local collaborators!</p>
		</div>
		<div class="clearfix">
			<label>Short Bio</label>
			<div class="input">
				<textarea class="span6" name="bio" maxlength="140" style="height: 4em;"></textarea>
			</div>
			<p class="caption">About yourself in 140 characters.</p>
		</div>
		<div class="clearfix">
			<div class="input">
				<input class="btn" type="submit" value="Sbumit »"/>
			</div>
		</div>
	</form>
</div>
<script>
	$('#username').keyup(function(){
		$('#url').html($(this).val() || 'your-username');
	});
</script>