<div class="main">
	{{#project}}
		<h1>{{title}}</h1>
		<div class="row">
			<div class="span11">
				<div style="padding-right: 40px;">
					<div><img class="project-img-large" src="/img/demo.jpg"/></div>
					<p class="oneliner">{{oneliner}}</p>
					<p>{{description}}</p>
					<div class="divider" style="margin: 20px 0;"></div>
					<ul class="project-comments">
						{{^comments}}
							<li>No Comments Yet</li>
						{{/comments}}
					</ul>
				</div>
			</div>
			<div class="span5">
				<h6 style="line-height: 13px; margin-bottom: 1em;">Skills Needed</h6>
				<ul class="project-tags">
					{{#tags}}
						<li>{{.}}</li>
					{{/tags}}
				</ul>
				<div style="clear: both;"></div>
				<div class="divider" style="margin: 20px 0 5px;"></div>
				<div>
					<h6>Project Owner</h6>
					{{#owner}}
						{{>user}}
					{{/owner}}
				</div>
				<div class="divider" style="margin: 20px 0 5px;"></div>
				<div>
					<h6>Collaborators</h6>
					{{#collaborators}}
						{{>user}}
					{{/collaborators}}
					{{^collaborators}}
						<p>No collaborators yet.</p>
					{{/collaborators}}
				</div>
				{{#user}}
				<div class="divider" style="margin: 20px 0 20px;"></div>
				<div class="project-actions">
					<a id="join" href="#" class="btn big danger" data-controls-modal="join-modal" data-backdrop="static">Join This Project</a>
					<a id="recommend" href="#" class="btn big success" data-controls-modal="recommend-modal" data-backdrop="static">Recommend Someone I Know</a>
				</div>
				{{/user}}
				<div class="divider" style="margin: 10px 0 20px;"></div>
				{{>social}}
			</div>
		</div>
		
		<div id="join-modal" class="modal hide fade">
			<div class="modal-header">
		    	<a href="#" class="close">×</a>
		    	<h3>Join {{title}}</h3>
		    </div>
		    <div class="modal-body">
				<p>Send a message to {{#owner}}{{firstname}}{{/owner}}:</p>
		    	<textarea style="width: 520px; height: 5em;"></textarea>
		    </div>
		    <div class="modal-footer">
		        <a href="#" class="btn primary">Send</a>
			</div>
		</div>
		
		<div id="recommend-modal" class="modal hide fade">
			<div class="modal-header">
		    	<a href="#" class="close">×</a>
		    	<h3>Recommend someone to {{#owner}}{{firstname}}{{/owner}}</h3>
		    </div>
		    <div class="modal-body">
				<p><input type="text" placeholder="Search user"/></p>
		    </div>
		    <div class="modal-footer">
		        <a href="#" class="btn primary">Recommend</a>
			</div>
		</div>
		
		<script>
			$('#join-modal').modal({
				keyboard: true,
				backdrop: true;
			});
		</script>
	{{/project}}
</div>